<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b310d80d-acb0-483f-ba1f-1976ded76b0b/resourceGroups/net2azure/providers/Microsoft.Web/sites/net2azure</ResourceId>
    <ResourceGroup>net2azure</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://net2azure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>net2azure.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>net2azure</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$net2azure</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:net2azure.database.windows.net,1433;Initial Catalog=azuredbtest;Persist Security Info=False;User ID=test;Password=TestTest1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NorthwindScaffold.Models.ApplicationDbContext, NorthwindScaffold" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NorthwindEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=max.bcit.ca;Initial Catalog=Northwind;Persist Security Info=False;User ID=northwind;Password=N0rth-W1nd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NorthwindScaffold.Models.Northwind.NorthwindEntities, NorthwindScaffold" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="azuredbtest" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:net2azure.database.windows.net,1433;Initial Catalog=azuredbtest;Persist Security Info=False;User ID=test;Password=TestTest1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\azuredbtest_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:net2azure.database.windows.net,1433;Initial Catalog=azuredbtest;Persist Security Info=False;User ID=test;Password=TestTest1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)azuredbtest-Web.config Connection String" />
    <MSDeployParameterValue Include="NorthwindEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Northwind.NorthwindModel.csdl|res://*/Models.Northwind.NorthwindModel.ssdl|res://*/Models.Northwind.NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=max.bcit.ca;Initial Catalog=Northwind;Persist Security Info=False;User ID=northwind;Password=N0rth-W1nd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:net2azure.database.windows.net,1433;Initial Catalog=azuredbtest;Persist Security Info=False;User ID=test;Password=TestTest1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>